/* ROOT */

:root{
  --MAINBGCOLOUR: rgb(49, 49, 49);
  --CATEGORIESBGCOLOUR: rgba(0, 0, 0, 0.782);
  --HEADERBGCOLOUR: rgb(15, 15, 15);
  --FONTCOLOUR: #fff;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

.headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.824);
  color: var(--FONTCOLOUR);
  height: 6vh;
  border-bottom: rgba(0, 0, 0, 0.574) 3px solid;
}

h2{
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: line-through;
}

.cart{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 30px;
}

.viewCartBtn{
    background-color: transparent;
    color: var(--MAINBGCOLOUR);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid var(--FONTCOLOUR);
    color: var(--FONTCOLOUR);
    cursor: pointer;
    font-size: medium;
}

.viewCartBtn:hover{
    background-color: var(--FONTCOLOUR);
    color: var(--MAINBGCOLOUR);
}

/* CONTENT */

.contentContainer{
  background-color: var(--CATEGORIESBGCOLOUR);
}

/* PRODUCTS */

.productInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  width: 75%;
  height: 100%;
  box-shadow: 3px 3px 10px black;
  background-color: var(--MAINBGCOLOUR);
  border-radius: 10px;
}

.productName{
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  color: var(--FONTCOLOUR);
}

/* .productDescription{
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
  color: var(--FONTCOLOUR);
} */

.productPicture{
  width: 70%;
  height: 12rem;
  object-fit: cover;
  background-position: center;
  border-radius: 10px;
}

.price{
  font-size: 1rem;
  color: var(--FONTCOLOUR);
}

.priceAddToCart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 3rem;
}

.contentContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5rem;
    padding: 2rem;
}

.toCart{
    background-color: var(--FONTCOLOUR);
    color: var(--MAINBGCOLOUR);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: small;
}

.toCart:hover{
    background-color: rgb(159, 159, 159);
    color: var(--MAINBGCOLOUR);
}

/* CATEGORIES */

.categoriesOuterContainer{
  height: 40vh;
  background-color: var(--CATEGORIESBGCOLOUR);
  background-image: url(../public/img/background-image.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categoriesContainer{
  display: flex;
  flex-direction: row;
  gap: 1rem;

}

.categories{
  display: flex;
  gap: 1rem;
}



.category{
  padding: 0.5rem 1rem;
  width: 10rem;
  height: 3rem;
  border-radius: 20px;
  border: 1px solid var(--FONTCOLOUR);
  text-transform: capitalize;
  background-color: transparent;
  color: var(--FONTCOLOUR);
  cursor: pointer;
}

.category:hover{
  background-color: var(--FONTCOLOUR);
  color: var(--MAINBGCOLOUR);
}

h1{
  font-size: 6rem;
  color: var(--FONTCOLOUR);
  text-decoration: line-through;
  font-style: italic;
  margin-bottom: 2rem;
}