/* ROOT */

:root{
  --MAINBGCOLOUR: rgb(49, 49, 49);
  --CATEGORIESBGCOLOUR: rgb(37, 37, 37);
  --HEADERBGCOLOUR: rgb(15, 15, 15);
  --FONTCOLOUR: #fff;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

.headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--HEADERBGCOLOUR);
  color: var(--FONTCOLOUR);
  height: 6vh;
  border-bottom: black 3px solid;
}

h2{
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: line-through;
}

.viewCartbtn{
    background-color: transparent;
    color: var(--FONTCOLOUR);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: larger;
}

.cart{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 30px;
}

/* CONTENT */

.contentContainer{
  background-color: var(--MAINBGCOLOUR);
  /* height: 85vh; */
}

/* PRODUCTS */

.productInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  width: 30rem;
  box-shadow: 3px 3px 10px black;
  border-radius: 10px;
}

.productName{
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  color: var(--FONTCOLOUR);
}

.productDescription{
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
  color: var(--FONTCOLOUR);
}

.productPicture{
  width: 80%;
  height: 15rem;
  object-fit: cover;
  background-position: center;
  border-radius: 10px;
}

.price{
  font-size: 1.3rem;
  color: var(--FONTCOLOUR);

}

.contentContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5rem;
    padding: 2rem;
}

/* CATEGORIES */

.categoriesContainer{
  height: 40vh;
  background-color: var(--CATEGORIESBGCOLOUR);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories{
  display: flex;
  gap: 1rem;
}

.category{
  padding: 0.5rem 1rem;
  width: 10rem;
  height: 3rem;
  border-radius: 20px;
  border: 1px solid var(--FONTCOLOUR);
  text-transform: capitalize;
  background-color: transparent;
  color: var(--FONTCOLOUR);
  cursor: pointer;
}

.category:hover{
  background-color: var(--FONTCOLOUR);
  color: var(--MAINBGCOLOUR);
}

h1{
  font-size: 6rem;
  color: var(--FONTCOLOUR);
  text-decoration: line-through;
  font-style: italic;
  margin-bottom: 2rem;
}